<section class="vh-100 bg-image" style="background-image: url('../../assets/Logo_ghost.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-130">
            <div class="row d-flex justify-content-center align-items-center h-20">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <div style="text-align: center;">
                                <img width="170" height="170" src="../../assets/Logo_ghost.jpg">
                            </div>
                            <h2 class="text-uppercase text-center mb-5">COMPRA</h2>
                            <form>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="formnumerodesillas">Numero de sillas</label>
                                    <input type="text" id="numerodesillas" class="form-control form-control-lg" />
                                
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="formnumerodesillas">Puestos asigados</label>
                                    <h5 class=" text-center mb-5">Sus puestos son el numero 1, 2, 3</h5>
            
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="formcedula">Cedula</label>
                                    <input type="text" id="Cedula" class="form-control form-control-lg" />
                                    
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="formnumerodetarjeta">Numero de tarjeta</label>
                                    <input type="email" id="numerodetarjeta" class="form-control form-control-lg" />
                                    
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <label class="form-label" for="formcvv">cvv</label>
                                        <input type="email" id="cvv" class="form-control form-control-lg" />
                                
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <label class="form-label" for="formfechadevencicimiento">Fecha de vencimiento</label>
                                        <input type="email" id="formfechadevencicimiento" class="form-control form-control-lg" />
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center p-3">
                                    <button type="button"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" >
                                        <a href="/compra-tiquete">Compra</a>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
