<!DOCTYPE html>
<html lang="en">

<head>


</head>
<!-- body -->

<body class="main-layout">

    <!-- compra -->
    <div id="compra" class="compra">
        <!-- principio mas filtro -->
        <div class="banner-main">
            <img src="../../assets/Fondo.png" alt="#" />
            <div class="container">
                <div class="text-bg">
                    <div style="text-align: center;">
                        <img width="175" height="175" src="../../assets/Logo_ghost.jpg">
                    </div>
                    <h2 class="text-uppercase text-center mb-5 ">Compra</h2>
                    <div class="Datos">
                    <h4 ><strong class="white">Datos Pasajero</strong></h4>
                     <div class = "row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                            <label class="form-label" for="nombre">Nombres </label>
                            <input type="text" id="nombre" [ngModelOptions]="{standalone: true}" [(ngModel)]="tiqueteAComprar.nombre" class="form-control form-control-lg">
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                            <label class="form-label" for="apellidos">Apellidos </label>
                            <input type="text" id="apellidos" [ngModelOptions]="{standalone: true}" [(ngModel)]="tiqueteAComprar.apellido" class="form-control form-control-lg">
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <label class="form-label" for="cedula">Cedula</label>
                            <input type="number" id="cedula" [ngModelOptions]="{standalone: true}" [(ngModel)]="tiqueteAComprar.id" class="form-control form-control-lg">
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <label class="form-label" for="telefono" >Telefono</label>
                            <input type="number" id="telefono" [ngModelOptions]="{standalone: true}" [(ngModel)]="tiqueteAComprar.telefono" class="form-control form-control-lg">
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <label class="form-label" for="telefono2">Telefono De Emergencia</label>
                            <input type="number" id="telefono2" [ngModelOptions]="{standalone: true}" [(ngModel)]="tiqueteAComprar.telefonoEmergencia" class="form-control form-control-lg">
                        </div>
                    </div></div>
                    <br>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" >
                            
                            
                            <h4 class=" text-center mb-5 ">Datos Tarjeta</h4>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="cedula">Cedula</label>
                                <input type="number" id="init" class="form-control form-control-lg">
                            </div>                   
                            <div class="form-outline mb-4">
                                <label class="form-label" for="terjeta">Numero de tarjeta</label>
                                <input type="number" id="tarjeta" 
                                    class="form-control form-control-lg">
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <label class="form-label" for="usuario">CVV</label>
                                    <input type="number" min="0" max="9999" id="usuario" class="form-control form-control-lg">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <label class="form-label" for="usuario">Fecha de vencimiento</label>
                                    <input type="email" id="usuario" class="form-control form-control-lg">
                                </div>
                            </div> 
                        
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" >
                            <div class = "sillas-div">
                            <!--sillas -->
                            <label class="form-label" >Elegir silla</label>
                            <table >
                                <thead>
                                    <tr>
                                        <th scope="col">VENTANA</th>
                                        <th scope="col">PASILLO</th>
                                        <th scope="col"></th>
                                        <th scope="col">PASILLO</th>
                                        <th scope="col">VENTANA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td [ngClass]="{'sillaseleccionada' : silla==1,'silla' : a[1],'sillaocupada':!a[1]}" class="silla" (click)="sillaClick(1)">1</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==2,'silla' : a[2],'sillaocupada':!a[2]}" class="silla" (click)="sillaClick(2)">2</td>
                                        <th></th>
                                        <td [ngClass]="{'sillaseleccionada' : silla==3,'silla' : a[3],'sillaocupada':!a[3]}" class="silla" (click)="sillaClick(3)"> 3</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==4,'silla' : a[4],'sillaocupada':!a[4]}" class="silla" (click)="sillaClick(4)">4</td>
                                    </tr>
                                    <tr>
                                        <td [ngClass]="{'sillaseleccionada' : silla==5,'silla' : a[5],'sillaocupada':!a[5]}" class="silla" (click)="sillaClick(5)">5</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==6,'silla' : a[6],'sillaocupada':!a[6]}" class="silla" (click)="sillaClick(6)">6</td>
                                        <th></th>
                                        <td [ngClass]="{'sillaseleccionada' : silla==7,'silla' : a[7],'sillaocupada':!a[7]}" class="silla" (click)="sillaClick(7)"> 7</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==8,'silla' : a[8],'sillaocupada':!a[8]}" class="silla" (click)="sillaClick(8)">8</td>
                                    </tr>
                                    <tr>
                                        <td [ngClass]="{'sillaseleccionada' : silla==9,'silla' : a[9],'sillaocupada':!a[9]}" class="silla" (click)="sillaClick(9)">9</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==10,'silla' : a[10],'sillaocupada':!a[10]}" class="silla" (click)="sillaClick(10)">10</td>
                                        <th></th>
                                        <td [ngClass]="{'sillaseleccionada' : silla==11,'silla' : a[11],'sillaocupada':!a[11]}" class="silla" (click)="sillaClick(11)"> 11</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==12,'silla' : a[12],'sillaocupada':!a[12]}" class="silla" (click)="sillaClick(12)">12</td>
                                    </tr>
                                    <tr>
                                        <td [ngClass]="{'sillaseleccionada' : silla==13,'silla' : a[13],'sillaocupada':!a[13]}" class="silla" (click)="sillaClick(13)">13</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==14,'silla' : a[14],'sillaocupada':!a[14]}" class="silla" (click)="sillaClick(14)">14</td>
                                        <th></th>
                                        <td [ngClass]="{'sillaseleccionada' : silla==15,'silla' : a[15],'sillaocupada':!a[15]}" class="silla" (click)="sillaClick(15)"> 15</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==16,'silla' : a[16],'sillaocupada':!a[16]}" class="silla" (click)="sillaClick(16)">16</td>
                                    </tr>
                                    <tr>
                                        <td [ngClass]="{'sillaseleccionada' : silla==17,'silla' : a[17],'sillaocupada':!a[17]}" class="silla" (click)="sillaClick(17)">17</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==18,'silla' : a[18],'sillaocupada':!a[18]}" class="silla" (click)="sillaClick(18)">18</td>
                                        <th></th>
                                        <td [ngClass]="{'sillaseleccionada' : silla==19,'silla' : a[19],'sillaocupada':!a[19]}" class="silla" (click)="sillaClick(19)"> 19</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==20,'silla' : a[20],'sillaocupada':!a[20]}" class="silla" (click)="sillaClick(20)">20</td>
                                    </tr>
                                    <tr>
                                        <td [ngClass]="{'sillaseleccionada' : silla==21,'silla' : a[21],'sillaocupada':!a[21]}" class="silla" (click)="sillaClick(21)">21</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==22,'silla' : a[22],'sillaocupada':!a[22]}" class="silla" (click)="sillaClick(22)">22</td>
                                        <th></th>
                                        <td [ngClass]="{'sillaseleccionada' : silla==23,'silla' : a[23],'sillaocupada':!a[23]}" class="silla" (click)="sillaClick(23)">23</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==24,'silla' : a[24],'sillaocupada':!a[24]}" class="silla" (click)="sillaClick(24)">24</td>
                                    </tr>
                                    <tr>
                                        <td [ngClass]="{'sillaseleccionada' : silla==25,'silla' : a[25],'sillaocupada':!a[25]}" class="silla" (click)="sillaClick(25)">25</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==26,'silla' : a[26],'sillaocupada':!a[26]}" class="silla" (click)="sillaClick(26)">26</td>
                                        <th></th>
                                        <td [ngClass]="{'sillaseleccionada' : silla==27,'silla' : a[27],'sillaocupada':!a[27]}" class="silla" (click)="sillaClick(28)">27</td>
                                        <td [ngClass]="{'sillaseleccionada' : silla==28,'silla' : a[28],'sillaocupada':!a[28]}" class="silla" (click)="sillaClick(28)">28</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div >
                                <label  *ngIf="silla!=0" class="form-label" >TU SILLA ES </label><br>
                                <h3 *ngIf="silla!=0" >{{silla}}</h3>
                                <label  *ngIf="silla==0" class="form-label" >Selecciona una Silla </label><br>
                                 

                            </div> 
                            </div>
                        </div>
                    </div>
                    <div (click)="comprar(tiqueteAComprar)"class="d-flex justify-content-center">
                        <a  class="button" >Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end principio mas filtro -->
    
    </div>




</body>

</html>