<!DOCTYPE html>
<html lang="en">

<head>


</head>
<!-- body -->

<body class="main-layout">

    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"><img src="../../assets/logolargo.png" alt="#"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="activa"> <a href="/asignar-rutas-empresa">Rutas </a> </li>
                                        <li class="activa"> <a href="/personal">Personal</a> </li>
                                        <li><a href="#blog">Configuracion</a></li>
                                        <li><a href="#contact">Cerrar sesión</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->
    <!-- BARRA -->
    <section>
        <div class="banner-main">
            <img src="../../assets/Fondo.png" alt="#" />
            <div class="container">
                <div class="text-bg">
                    <h1>CREA TODAS<br><strong class="white"> TUS RUTAS</strong></h1>
                    <div class="container">
                        <form class="main-form">
                            <h3>RUTAS</h3>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                            <label>Origen </label>

                                            <input id="origen" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.origen" class="form-control" placeholder="" type="text" name="">
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                            <label>Fecha salida</label>
                                            <input id="fechaSalida" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.fechaSalida"class="form-control" placeholder="Any" type="date" name="Any">
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                            <label>Conductor</label>
                                            <input id="conductor" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.idConductor" class="form-control" placeholder="Nombre" type="text" name="">
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                            <label>Destino</label>
                                            <input id="destino" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.destino" class="form-control" placeholder="" type="text" name="Any">
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                            <label>Fecha llegada</label>
                                            <input id="fechaLlegada"[ngModelOptions]="{standalone: true}"  [(ngModel)]="newRuta.fechaLlegada" class="form-control" placeholder="Any" type="date" name="Any">
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                            <label>Precio</label>
                                            <input id="precio" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.precio" class="form-control" placeholder="00.0" type="text" name="00.0">
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                            <label>Bus</label>
                                            <input id="bus" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.idBus" class="form-control" placeholder="00.0" type="text" name="00.0">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                    <button  (click)="Crear(newRuta)" type="button"  class="button">Crear</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end BARRA -->
    <!-- TABLA -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2>Rutas</h2>
                    <span> Vemos todas las rutas de la empresa </span>
                </div>
            </div>
        </div>
        <hr>
    </div>
    
    <div class=" container">
        <table class="table">
            <thead>
              <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Origen</th>
                <th scope="col">Fecha salida</th>
                <th scope="col"></th>
                <th scope="col">Destino</th>
                <th scope="col">Fecha llegada</th>
                <th scope="col">Precio</th>
                <th scope="col">Conductor</th>
                <th scope="col">Editar/Eliminar</th>

              </tr>
            </thead>
            <tbody *ngFor="let ruta of rutas">
              <tr>
                <th scope="row">{{ruta.idRuta}}</th>
                <td>{{ruta.origenT}}</td>
                <td>{{ruta.fechaSalida | date :'short'}}</td>
                <td>
                    <img style="text-align: center;" src="../../assets/flecha.png">
                </td>
                <td>{{ruta.destinoT}}</td>
                <td>{{ruta.fechaLlegada | date :'short'}}</td>
                <td>{{ruta.precio}}</td>
                <td>{{ruta.conductor}}</td>
                <td>
                    <button (click)="Editar2(ruta.idRuta)" style="margin-left: 5px;" class="btn btn-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                          </svg>                        </button>
                        <button style="margin-left: 5px;" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"  fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/></svg>
                            </button>

                </td>

                
              </tr>
            </tbody>
          </table>
         </div>

    <!--EDITAR-->
<div *ngIf="caja_editar">
    <hr>
    <div style="background-color: rgb(185, 232, 232); border-radius: 10px;" class="container">
        <form>
            <h3>Modificar ruta</h3>
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <label>Origen </label>

                            <select  id="destino" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.origen">
                                <option *ngFor="let terminal of terminales" [ngValue]="terminal.id">
                                  {{terminal.nombre}}
                                </option>
                              </select>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <label>Fecha salida</label>
                            <input id="fechaSalida" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.fechaSalida" class="form-control" placeholder="Any" type="date" name="Any">
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <label>Conductor</label>
                            <input id="conductor" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.idConductor"  class="form-control" placeholder="Nombre" type="text" name="">
                        </div>
                      <!--  
                            
                            <input  id="destino" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.destino" class="form-control" placeholder="" type="text" name="Any">
                        </div>-->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label>Destino</label>
                        <select  id="destino" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.destino">
                            <option *ngFor="let terminal of terminales" [ngValue]="terminal.id">
                              {{terminal.nombre}}
                            </option>
                          </select>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <label>Fecha llegada</label>
                            <input id="fechaLlegada"[ngModelOptions]="{standalone: true}"  [(ngModel)]="newRuta.fechaLlegada" class="form-control" placeholder="Any" type="date" name="Any">
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <label>Precio</label>
                            <input id="precio" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.precio" class="form-control" placeholder="00.0" type="text" name="00.0">
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <label>Bus</label>
                            <input id="bus" [ngModelOptions]="{standalone: true}" [(ngModel)]="newRuta.idBus" class="form-control" placeholder="00.0" type="text" name="00.0">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <button (click)="Editar(newRuta)" type="button" style="width: 130px; margin-top: 60px; margin-left: 60px;"  class="btn btn-success btn-lg">Modificar</button>
                    <button (click)="Cancelar()"  type="button" style="width: 130px; margin-top: 10px; margin-left: 60px;"  class="btn btn-warning btn-lg">Cancelar</button>

                </div>
            </div>
        </form>
    </div>
</div>
    
    <!-- end EDITAR -->



    <!-- footer -->
    <footer>
        <div id="contact" class="footer">
            <div class="container">
                <div class="row pdn-top-30">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <ul class="location_icon">
                            <li> <a href="#"><img src="../../assets/facebook.png"></a></li>
                            <li> <a href="#"><img src="../../assets/Twitter.png"></a></li>
                            <li> <a href="#"><img src="../../assets/linkedin.png"></a></li>
                            <li> <a href="#"><img src="../../assets/instagram.png"></a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Follow">
                            <h3>CONTACT US</h3>
                            <span>Colombia,Bogota D.C<br>
                                +56 345 6815278</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Follow">
                            <h3>ADDITIONAL LINKS</h3>
                            <ul class="link">
                                <li> <a href="#">About us</a></li>
                                <li> <a href="#">Terms and conditions</a></li>
                                <li> <a href="#"> Privacy policy</a></li>
                                <li> <a href="#">News</a></li>
                                <li> <a href="#"> Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="Follow">
                            <h3> Contact</h3>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <input class="Newsletter" placeholder="Name" type="text">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <input class="Newsletter" placeholder="Email" type="text">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <textarea class="textarea" placeholder="comment" type="text">Comment</textarea>
                                </div>
                            </div>
                            <button class="Subscribe">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->



</body>

</html>
