<section class="vh-100 bg-image"
  style="background-image: url('../../assets/Logo_ghost.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <div style="text-align: center;">
                    <img   width="175" height="175" src="../../assets/Logo_ghost.jpg">
                </div>
                <h2 class="text-uppercase text-center mb-5">Inicio sesión</h2>
              <form>
                <div class="form-outline mb-4">
                  <label class="form-label" for="usuario">Correo electronico</label>
                  <input type="email" id="usuario" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchUser.correo" class="form-control form-control-lg" >
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="contraseña">Contraseña</label>
                  <input type="password" id="contraseña" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchUser.contrasena" class="form-control form-control-lg" >
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button" (click)="login(searchUser.correo)"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Iniciar sesion</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">¿No tienes cuenta? <a href="/register"
                    class="fw-bold text-body"><u>Registrate</u></a></p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>