<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <img  src="../../assets/logolargo.png" >
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <a style="margin-right: 15px;" class="btn btn-outline-primary" href="/login">Iniciar sesión</a>
                <a class="btn btn-outline-primary" href="/register">Registrate</a>
              </div>
            </div>
          </nav>
        <!-- Masthead-->
        <header  style="background-image: url('../../assets/Fondo.png');" class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Bienvenido a BusBuddy, una aplicación que cambiará tu forma de comprar tiquetes de bus :)</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div style= "display: flex; flex-direction: row;" class="container-fluid">
                    <div style="margin: 1em;" class="col-lg-3">
                        <div class="features-icons-item ">
                            <div class="features-icons-icon d-flex"><i class="bi-credit-card m-auto text-primary"></i></div>
                            <h3>Compra tiquetes a un solo clic</h3>
                            <p class="lead mb-0">BusBuddy te facilita comprar tiquetes, solo ingresa a nuestra aplicación y compra tiquetes de forma rapida sin demorá ni filas</p>
                        </div>
                    </div>
                    <div style="margin: 1em;" class="col-lg-3">
                        <div class="features-icons-item ">
                            <div class="features-icons-icon d-flex"><i class="bi-globe m-auto text-primary"></i></div>
                            <h3>Mira viajes a diferentes destinos</h3>
                            <p class="lead mb-0">Mira los distintos viajes a diferentes destinos que BusBuddy te ofrece por medio de nuestras empresas aliadas</p>
                        </div>
                    </div>
                    <div style="margin: 1em;" class="col-lg-3">
                        <div class="features-icons-item ">
                            <div class="features-icons-icon d-flex"><i class="bi-calendar-event m-auto text-primary"></i></div>
                            <h3>Reserva pasajes para tu fecha preferida</h3>
                            <p class="lead mb-0">¿Quieres viajar en una fecha en especifico? BusBuddy te ayuda a buscar el bus a la fecha y hora de tu elección</p>
                        </div>
                    </div>

                    <div style="margin: 1em;" class="col-lg-3">
                        <div class="features-icons-item ">
                            <div class="features-icons-icon d-flex"><i class="bi-lock m-auto text-primary"></i></div>
                            <h3>Integridad con tus datos</h3>
                            <p class="lead mb-0">Tus datos son lo mas importantes, BusBuddy los tomará bajo confinzialidad</p>
                        </div>
                    </div>
            </div>
        </section>
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style=" height: 1200px; background-image: url('../../assets/bus.webp')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>¿Por qué nació BusBuddy?</h2>
                        <p class="lead mb-0">BusBuddy nació como la soluión a una necesidad, la de comprar de manera mas optima y efectiva los tiquetes de buses para realizar un viaje, debido a que
                            pocas empresas de viaje terrestre integran metodos de pago online sin la necesidad de ir a un terminal a comprar el boleto, BusBuddy da como 
                            solución que se puedan realizar comprar de tiquetes online permitiendo asi que el usuario tenga su tiquete disponible en lo que dure el proceso de 
                            compra en la aplicación, teniendo varias opciones de destino esto gracias a nuestras empresas afiliadas.
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <section class="features-icons bg-light text-center">
            <h1 style="text-align: center;">RUTAS DESTACADAS</h1>
            <br>
            <div style= "display: flex; flex-direction: row;" class="container-fluid">
                    <div style="margin: 1em;" class="col">
                        <div style="flex-basis: 0; flex-grow: 1;">
                            <img style="width: 400px; height: 300px" src="../../assets/Bogotá.jpg" alt="">
                            <h3>Bogotá</h3>
                        </div>
                    </div>
                    <div style="margin: 1em;" class="col">
                        <div style="flex-basis: 0; flex-grow: 1;">
                            <img style="width: 400px; height: 300px" src="../../assets/Tibasosa.jpg" alt="">
                            <h3>Tibasosa</h3>
                        </div>
                    </div>
                    <div style="margin: 1em;" class="col">
                        <div style="flex-basis: 0; flex-grow: 1;">
                            <img style="width: 400px; height: 300px" src="../../assets/Tambo.jpg" alt="">
                            <h3>El Tambo</h3>
                        </div>
                    </div>

                    <div style="margin: 1em;" class="col">
                        <div style="flex-basis: 0; flex-grow: 1;">
                            <img style="width: 400px; height: 300px" src="../../assets/tame.jpg" alt="">
                            <h3>Tame</h3>
                        </div>
                    </div>

                    <div style="margin: 1em;" class="col">
                        <div style="flex-basis: 0; flex-grow: 1;">
                            <img style="width: 400px; height: 300px" src="../../assets/Barranaaca.jpg" alt="">
                            <h3>Barrancabermeja (No existe)</h3>
                        </div>
                    </div>
            </div>
        </section>

        <!-- Call to Action-->
    
    <!-- footer -->
    <footer>
        <div id="contact" class="footer">
            <div class="container">
                <div class="row pdn-top-30">

                    <div style=" flex-basis: 0; flex-grow: 1;">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Follow">
                            <h3>CONTACTANOS</h3>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <ul class="location_icon">
                                    <li> <a href="#"><img src="../../assets/facebook.png"></a></li>
                                    <li> <a href="#"><img src="../../assets/Twitter.png"></a></li>
                                    <li> <a href="#"><img src="../../assets/linkedin.png"></a></li>
                                    <li> <a href="#"><img src="../../assets/instagram.png"></a></li>
                                </ul>
                            </div>
                            <span>Colonbia,Bogota D.C<br>
                                +57 3125097954</span>
                        </div>
                    </div>
                    </div>
                    <div style="flex-basis: 0; flex-grow: 1;">
                    <div class="col">
                        <div style="margin-left: 400px;" class="Follow">
                            <h3>LINKS ADICIONALES</h3>
                            <ul class="link">
                                <li> <a href="#">Sobre nosotros</a></li>
                                <li> <a href="#">Terminos y condiciones</a></li>
                                <li> <a href="#"> Politicas de privacidad</a></li>
                                <li> <a href="#">Noticias nuevas</a></li>
                                <li> <a href="#"> Contactanos</a></li>
                            </ul>
                        </div>
                    </div>
                    </div>>

                </div>

            </div>
        </div>
    </footer><!-- end footer -->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
