<!DOCTYPE html>
<html lang="en">

<head>


</head>
<!-- body -->

<body class="main-layout">

    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"><img src="../../assets/logolargo.png" alt="#"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="activa"> <a href="/mis-rutas">Ver mis rutas </a> </li>
                                        <li><a href="#blog">Configuracion</a></li>
                                        <li><a href="#contact">Cerrar sesión</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->
    <!-- BARRA -->
    <section>

        <div class="container">
            <h1 style="font-size: 46px;">MIRA TUS <strong style="color: aqua;">RUTAS</strong></h1>
            <p>Rutas programadas para el conductor "Nombre Usuario"</p> 
            <br>    
            <div>
                Estado de la ruta:
            </div>
            
            <div>
                <button style= "margin-right: 10px; padding: 5px;" class="btn btn-secondary btn-lg">Por comenzar</button>
                <button style= "margin-right: 10px; padding: 5px;" class="btn btn-secondary btn-lg">En curso</button>
                <button style= "margin-right: 10px; padding: 5px;" class="btn btn-secondary btn-lg">Llegado al terminal</button>
                <button  style= "margin-right: 10px; padding: 5px;" class="btn btn-secondary btn-lg">Demorada</button>
                <button  style= "margin-right: 10px; padding: 5px;" class="btn btn-secondary btn-lg">Finalizada</button>

            </div>
            

            <table class="table table-hover">
              <thead>
                <tr >
                  <th>Fecha de salida</th>
                  <th>Origen</th>
                  <th>Fecha de llegada</th>
                  <th>Destino</th>
                  <th>Estado</th>
                  <th>Verificar abordaje</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ruta of rutas">
                  <td>{{ruta.fechaSalida | date :'short'}}</td>
                  <td>{{ruta.origenT}}</td>
                  <td>{{ruta.fechaLlegada | date :'short'}}</td>
                  <td>{{ruta.destinoT}}</td>
                  <td>{{ruta.estado}}</td>
                  <td>
                      <button style="padding: 4px;" class=" btn btn-success">Validar pasajeros </button>
                  </td>


                </tr>
              </tbody>
            </table>
          </div>
          
    </section>

    <section>
        <br>
        <div style="padding: 20px; border-radius: 3px; background-color: rgb(202, 202, 202)" class="container">
            <p style="font-size: 46px;">VALIDAR PASAREJOS</p>
            <br>
            <p>Verifica si los clientes ya estan en el bus</p> 
            <br> 
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col-4">Numero de silla</th>
                    <th scope="col-2">Codigo de reserva</th>
                    <th scope="col-2">Nombre</th>
                    <th scope="col-2">Abordaje</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>sdfsdfsfdsdfs</td>
                    <td>Angel Guillermo Peñarredonda Silva</td>
                    <td>
                        <button class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                          </svg></button>

                          <button style="margin-left: 5px;" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"  fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/></svg>
                            </button>
                    </td>
                  </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>sdfsdfsfdsdfs</td>
                    <td>Angel Guillermo Peñarredonda Silva</td>
                    <td>
                        <button class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                                viewBox="0 0 16 16">
                                <path
                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                            </svg></button>
                
                        <button style="margin-left: 5px;" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg"
                                viewBox="0 0 16 16">
                                <path
                                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                            </svg>
                        </button>
                    </td>
                </tr>
                  
                </tbody>
              </table>


          </div>
          
    </section>
    <!-- end BARRA -->
    <!-- rutas -->

    <!-- end tiquetes -->



    <!-- footer -->
    <footer>
        <div id="contact" class="footer">
            <div class="container">
                <div class="row pdn-top-30">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <ul class="location_icon">
                            <li> <a href="#"><img src="../../assets/facebook.png"></a></li>
                            <li> <a href="#"><img src="../../assets/Twitter.png"></a></li>
                            <li> <a href="#"><img src="../../assets/linkedin.png"></a></li>
                            <li> <a href="#"><img src="../../assets/instagram.png"></a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Follow">
                            <h3>CONTACT US</h3>
                            <span>Colombia,Bogota D.C<br>
                                +56 345 6815278</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Follow">
                            <h3>ADDITIONAL LINKS</h3>
                            <ul class="link">
                                <li> <a href="#">About us</a></li>
                                <li> <a href="#">Terms and conditions</a></li>
                                <li> <a href="#"> Privacy policy</a></li>
                                <li> <a href="#">News</a></li>
                                <li> <a href="#"> Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="Follow">
                            <h3> Contact</h3>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <input class="Newsletter" placeholder="Name" type="text">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <input class="Newsletter" placeholder="Email" type="text">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <textarea class="textarea" placeholder="comment" type="text">Comment</textarea>
                                </div>
                            </div>
                            <button class="Subscribe">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->



</body>

</html>
