<!DOCTYPE html>
<html lang="en">

<head>


</head>
<!-- body -->

<body class="main-layout">

    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"><img src="../../assets/logolargo.png" alt="#"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li > <a href="/home-usuario"> Comprar </a> </li>
                                        <li class="activa"> <a href="/mis-tiquetes-usuario">Mis Tiquetes</a> </li>
                                        <li><a href="/home-usuario">Configuracion</a></li>
                                        <li><a href="/home-page">Cerrar sesión</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->




    <!--tiquetes -->
    <div  id="tiquetes" class="tiquete">
        <!-- principio mas filtro -->
        <div class="banner-main">
            <img src="../../assets/Fondo.png" alt="#" />
            <div class="container">
                <div class="text-bg">
                    <h1>MIS<br><strong class="white">Tiquetes</strong></h1>
                    <h3>Filtrar por estado de la ruta:</h3>
                    <button (click)="filtrarAbordados()" type="button" class="button">Abordado</button>
                    <button (click)="filtrarVencidos()" type="button" class="button">Vencidos</button>
                    <button (click)="filtrarDisponibles()" type="button" class="button">Disponible</button>
                    <button (click)="filtrarTodos()" type="button" class="button">Todos</button>
                </div>
            </div>

        </div> 
        <!--end principio mas filtro -->
        <br>
        <div class="bg">
            <div class="container">
                <form  *ngFor="let tiquete of tiquetes" class="tiquete-form">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                            <label>Numero de reserva</label><br>
                            <h3>{{tiquete.idReserva}}</h3>                       
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                            <label>Origen</label><br>
                            <h3>{{tiquete.origen}}</h3>
                    
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                            <label>Fecha Salida</label><br>
                            <h3>{{tiquete.fechaSalida | date :'short'}}</h3>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                            <label>Destino</label><br>
                            <h3>{{tiquete.destino}}</h3>
                        </div>
                    
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                            <label>Nombre</label><br>
                            <h3>{{tiquete.fechaLlegada | date :'short'}}</h3>
                        </div>
                    
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                            <label>Cedula</label><br>
                            <h3>{{tiquete.estado}}</h3>
                    
                        </div>
                    
                    </div>
                </form>
                <form  *ngFor="let tiquete of tiquetes" class="tiquete-form">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                            <label>Numero de reserva</label><br>
                            <h3>{{tiquete.idReserva}}</h3>                       
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                            <label>Origen</label><br>
                            <h3>{{tiquete.origen}}</h3>
                    
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                            <label>Fecha Salida</label><br>
                            <h3>{{tiquete.fechaSalida | date :'short'}}</h3>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                            <label>Destino</label><br>
                            <h3>{{tiquete.destino}}</h3>
                        </div>
                    
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                            <label>Nombre</label><br>
                            <h3>{{tiquete.fechaLlegada | date :'short'}}</h3>
                        </div>
                    
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                            <label>Cedula</label><br>
                            <h3>{{tiquete.estado}}</h3>
                    
                        </div>
                    
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end tiquetes -->


    <div class="footer"></div>




    <!-- footer -->
    <footer>
        <div id="contact" class="footer">
            <div class="container">
                <div class="row pdn-top-30">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <ul class="location_icon">
                            <li> <a href="#"><img src="../../assets/facebook.png"></a></li>
                            <li> <a href="#"><img src="../../assets/Twitter.png"></a></li>
                            <li> <a href="#"><img src="../../assets/linkedin.png"></a></li>
                            <li> <a href="#"><img src="../../assets/instagram.png"></a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Follow">
                            <h3>CONTACT US</h3>
                            <span>Colombia,Bogota D.C<br>
                                +56 345 6815278</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Follow">
                            <h3>ADDITIONAL LINKS</h3>
                            <ul class="link">
                                <li> <a href="#">About us</a></li>
                                <li> <a href="#">Terms and conditions</a></li>
                                <li> <a href="#"> Privacy policy</a></li>
                                <li> <a href="#">News</a></li>
                                <li> <a href="#"> Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="Follow">
                            <h3> Contact</h3>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <input class="Newsletter" placeholder="Name" type="text">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <input class="Newsletter" placeholder="Email" type="text">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <textarea class="textarea" placeholder="comment" type="text">Comment</textarea>
                                </div>
                            </div>
                            <button class="Subscribe">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->



</body>

</html>