<section class="vh-100 bg-image" style="background-image: url('front-BusBuddy/src/app/Images/Fondo.png');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <form>    
                    <div *ngIf="box_registo" class="card" style="border-radius: 15px;">
                        <div class="card-body p-9">
                            <div style="text-align: center;">
                                <img width="175" height="175"
                                    src="https://i.pinimg.com/originals/61/4f/41/614f41bfff5dff361543597e7414b5f4.jpg">
                            </div>
                            <h2 class="text-uppercase text-center mb-5">Crea tu cuenta</h2>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="nombres">Nombres</label>
                                    <input type="text" id="nombres" [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.nombre" class="form-control form-control-lg" >
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="apellidos">Apellidos</label>
                                    <input type="text" id="apellidos" [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.apellido" class="form-control form-control-lg" >
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="correo">Correo electronico</label>
                                    <input type="email" id="correo" [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.correo" class="form-control form-control-lg" >
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="fecha">Fecha de nacimiento</label>
                                    <input type="date" id="fecha" [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.fechaNacimiento" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="telefono">Telefono</label>
                                    <input type="number" id="telefono" [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.telefono" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4 btn-group" role="group" aria-label="Basic example">
                                    <label style="margin-top: 5px" class="form-label" for="form3Example3cg">¿Por qué
                                        creas la cuenta?</label>
                                    <div style="margin-left: 10px">
                                        <button (click)="cambio3()" type="button"
                                            class="btn btn-success gradient-custom-4 text-body">Cliente</button>
                                    </div>
                                    <div>
                                        <button (click)="cambio()" style="margin-left: 15px" type="button"
                                            class="btn btn-success gradient-custom-4 text-body">Vinculación
                                            laboral</button>
                                    </div>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">¿Tienes cuenta?<a href="/login"
                                    class="fw-bold text-body"><u>Inicia sesión</u></a></p>

                        </div>
                    </div>

                    <div *ngIf="box_vincu_lab" class="card" style="border-radius: 15px;">
                        <div class="card-body p-9">
                            <div style="text-align: center;">
                                <img width="175" height="175"
                                    src="https://i.pinimg.com/originals/61/4f/41/614f41bfff5dff361543597e7414b5f4.jpg">
                            </div>
                            <h2 class="text-uppercase text-center mb-5">Vinculación Laboral</h2>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Empresa</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Token de verificación</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>
                            <div class="form-outline mb-4" style="text-align: center;">
                                <button  type="button" (click)="cambio2()" class="btn btn-success gradient-custom-4 text-body">Validar datos</button>
                            </div>
                            <p class="text-center text-muted mt-5 mb-0"><a (click)="regresar()"
                                class="fw-bold text-body"><u>Regresar</u></a></p>
                                
                        </div>
                    </div>

                    <div *ngIf="box_vincu_lab_2" class="card" style="border-radius: 15px;">
                        <div class="card-body p-9">
                            <div style="text-align: center;">
                                <img width="175" height="175"
                                    src="https://i.pinimg.com/originals/61/4f/41/614f41bfff5dff361543597e7414b5f4.jpg">
                            </div>
                            <h2 class="text-uppercase text-center mb-5">Vinculación Laboral</h2>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">NIT Empresa</label>
                                    <input type="text" id="nombres" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchEmpresa.nit" class="form-control form-control-lg" >
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Empresa</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                                
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Cargo</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Afiliación EPS</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Ciudad</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Cedula</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                            <div class="form-outline mb-4" style="text-align: center;">
                                <button (click)="cambio3()" type="button" class="btn btn-success gradient-custom-4 text-body">Validar datos</button>
                            </div>

                            <p class="text-center text-muted mt-5 mb-0"><a (click)="regresar()"
                                class="fw-bold text-body"><u>Regresar</u></a></p>
                                
                        </div>
                    </div>

                    <div *ngIf="box_usuario"  class="card" style="border-radius: 15px;">
                        <div class="card-body p-9">
                            <div style="text-align: center;">
                                <img width="175" height="175"
                                    src="https://i.pinimg.com/originals/61/4f/41/614f41bfff5dff361543597e7414b5f4.jpg">
                            </div>
                            <h2 class="text-uppercase text-center mb-5">Crea tu usuario</h2>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="usuario">Usuario</label>
                                    <input type="text" id="usuario" [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.usuario" class="form-control form-control-lg" >
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Contraseña</label>
                                    <input type="text" id="contrasena" [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.contrasena" class="form-control form-control-lg" >
                                </div>

                                
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Repetir contraseña</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4" style="text-align: center;">
                                    <button  type="button" (click)="crearusuario(newUser)" class="btn btn-success gradient-custom-4 text-body">Crea tu usuario</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0"><a (click)="regresar()"
                                    class="fw-bold text-body"><u>Regresar</u></a></p>
                                
                        </div>
                    </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>